/* Global styles for angular material themes, requires support
    for light-dark(), doesn't work on ios 16 for my iPhone X */

@use '@angular/material' as mat;

@mixin my-theme($palette) {
  @include mat.theme(
    (
      color: (
        primary: $palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (
        brand-family: 'Courier New, sans-serif',
        plain-family: 'Courier New, sans-serif',
      ),
      density: (
        scale: 0, // Choices range from -5 to 0
      ),
    )
  );
}

@supports (background-color: light-dark(#fff, #000)) {
  :root {
    color-scheme: light dark;
    @include my-theme(mat.$azure-palette);
    // .orange { @include my-theme(mat.$orange-palette); }
    // .green { @include my-theme(mat.$green-palette); }
  }

  .azure { @include my-theme(mat.$azure-palette); }
  .orange { @include my-theme(mat.$orange-palette); }
  .green { @include my-theme(mat.$green-palette); }
  .dark { color-scheme: only dark; }
  .light { color-scheme: only light; }
}
