/* You can add global styles to this file, and also import other style files */

// @use 'styles_newer.scss';

@use 'styles_older.scss';
@use 'styles_newer.scss';

body {
    font: var(--mat-sys-body-medium);
}

.primary {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    padding: 1rem;
}

.my-container {
    margin: 2rem;
    border: solid 1px var(--mat-sys-on-background);
    border-radius: 1rem;
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    text-align: center;

    &>* {
        flex: 1 0 auto;
    }
}

// set colors on body tag to be inherited by default
body {
    background-color: var(--mat-sys-background);
    // color: var(--mat-sys-on-background);
    color: var(--mat-sys-primary);
}

h1,h2,h3,h4,h5,h6 { color: var(--mat-sys-primary);}

h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.my-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}