/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@supports not (background-color: light-dark(#fff, #000)) {
    :root {
        @include mat.theme((color: (theme-type: light,
                    primary: mat.$azure-palette,
                    tertiary: mat.$blue-palette ),
                typography: (brand-family: 'Courier New, sans-serif',
                    plain-family: 'Courier New, sans-serif',
                ),
                density: (scale: 0 // Choices range from -5 to 0
                )));
    }

    .orange, .orange.light {
        @include mat.theme((color: (theme-type: light,
                    primary: mat.$orange-palette,
                    tertiary: mat.$blue-palette,
                    secondary: mat.$cyan-palette,
                    special: mat.$azure-palette ),
                typography: (brand-family: 'Courier New, sans-serif',
                    plain-family: 'Courier New, sans-serif',
                ),
                density: (scale: 0 // Choices range from -5 to 0
                )));
    }

    .dark .orange, .orange .dark, .orange.dark {
        @include mat.theme((color: (theme-type: dark,
                    primary: mat.$orange-palette,
                    tertiary: mat.$blue-palette,
                    secondary: mat.$cyan-palette,
                    special: mat.$azure-palette ),
                typography: (brand-family: 'Courier New, sans-serif',
                    plain-family: 'Courier New, sans-serif',
                ),
                density: (scale: 0 // Choices range from -5 to 0
                )));
    }

    .green, .green.light {

        @include mat.theme((color: (theme-type: light,
                    primary: mat.$green-palette,
                    tertiary: mat.$blue-palette ),
                typography: (brand-family: 'Courier New, sans-serif',
                    plain-family: 'Courier New, sans-serif',
                ),
                density: (scale: 0 // Choices range from -5 to 0
                )));
    }

    .dark .green, .green .dark, .green.dark {
        @include mat.theme((color: (theme-type: dark,
                    primary: mat.$green-palette,
                    tertiary: mat.$blue-palette ),
                typography: (brand-family: 'Courier New, sans-serif',
                    plain-family: 'Courier New, sans-serif',
                ),
                density: (scale: 0 // Choices range from -5 to 0
                )));
    }
}